@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body{   
    font-family: 'Montserrat', sans-serif;
    background-color:#3d3d3d;
}   
#user-input{
    background-color: #dadada;
    margin-top:1vh;
    height: 7.4vh;
    width:32vw;
    border:none;
    font-size:130%;
    padding-left:1vw;
    border-radius: 30px;
}
#send-button{
    background-color: cornflowerblue;
    color:white;
    font-size:130%;
    margin-left:1vw;
    margin-top:2vh;
    height: 8vh;
    width: 10vw;
    border: none;
    border-radius: 30px;
}
#send-message-container{
    min-height: 100%;
}
#messages-container::-webkit-scrollbar {
    display: none;

}
#messages-container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: auto;
    background-color: #d3d3d3;
    height:85vh;
    width: 50vw;
    display:block;
    border: none;
    border-top:none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.receive-message-style{
    background-image: linear-gradient(to right top, #6bd19c, #72d599, #7ada95, #83de91, #8de28c, #8ae693, #88ea9b, #85eea2, #76f2b7, #69f6cc, #60f9df, #5ffbf1);
    word-break: break-word;
    padding:10px;
    padding-left:15px;
    margin-top:2vh;
    margin-bottom:2vh;
    width:60%;
    text-align:left;
    font-size:100%;
    margin-right: 30%;
    margin-left:5%;
    border-radius:20px;
}
.send-message-style{
    background-color:  cornflowerblue;
    word-break: break-word;
    padding: 15px;
    padding-right:15px;
    margin-top:2vh;
    margin-bottom: 2vh;
    text-align:left;
    width:50%;
    font-size:100%;
    margin-left: 30%;
    margin-right:5%;
    border-radius:20px;
}
.user-joined-style{
    word-break: break-word;
    padding: 10px;
    padding-right:15px;
    margin-top:2vh;
    text-align:center;
    width:45%;
    font-size:120%;
    font-weight: bolder;
    float:center;
    border: none;
    border-radius:20px;
}
.message-body{
    font-weight: bold;
    word-break: break-word;
    width:100%;
    padding:0;
    margin:0;
    font-size:150%;
    text-decoration: none;
}
.message-sender{
    width:100%;
    padding:0;
    margin:0;
    text-decoration: underline;
    font-size:95%;
}
.sent-image{
    width:100%;
    border-radius:10px;
    margin-top:1.5vh;
}
